[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
moto = "*"

[packages]
setuptools-scm = "*"
pandas = {editable = true,version = "*"}
luigi = "*"
oandapyv20 = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
